<div class="container">
  <div class="card bg-light" style="width:300px">
    <img class="card-img-top" src="{{itemLapTop.img}}" alt="Card image" style="max-width:100%; height: 250px;">
    <div class="card-body text-center">
      <h4 class="card-title text-center">{{itemLapTop.title}}</h4>
      <p class="card-text" *ngIf="!status" >{{itemLapTop.description}}</p>
      <a href="#" class="btn btn-primary" (click)="clickDetail(itemLapTop) " data-toggle="modal" data-target="#exampleModal1">Detail</a>
      <button  class="btn btn-danger" *ngIf="!status" (click)=" clickShowandHide()">Hide</button>
      <button class="btn btn-danger" *ngIf="status"  (click)=" clickShowandHide()">Show</button>
    </div>
  </div>
</div>